@charset "utf-8";
.fl-lt {float:left;}
.fl-rt {float:right;}
.clear {
clear: both;
display: block;
overflow: hidden;
visibility: hidden;
width: 0;
height: 0;
}
.clearfix:before,
.clearfix:after {
content: '\0020';
display: block;
overflow: hidden;
visibility: hidden;
width: 0;
height: 0;
}
.clearfix:after {
clear: both;
}
.figure{ margin:0px;}
img{ max-width:100%;}
a, a:hover, a:active{ outline:0px !important}
@font-face {
font-family: 'FontAwesome';
src: url('../fonts/fontawesome-webfont.eot?v=4.1.0');
src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
font-weight: normal;
font-style: normal;
}
html {
	font-size: 62.5%;
}
body {
background:#1B1B1B;
font-family: 'Open Sans', sans-serif;
font-size:2em;
font-weight:normal;
color:#d6d6d6;
margin:0;
}
h2{
font-size:34px;
color:#d2d2d2;
font-family: 'Open Sans', sans-serif;
font-weight:700;
letter-spacing: -1px;
margin:0 0 15px 0;
text-align:center;
text-transform:uppercase;
}
h3{
font-family: 'Open Sans', sans-serif;
color:#d2d2d2;
font-size:16px;
margin:0 0 5px 0;
text-transform:uppercase;
font-weight:400;
}
h6{
font-size:16px;
color:#888888;
font-family: 'Open Sans', sans-serif;
font-weight:400;
text-align:center;
margin:0 0 60px 0;
}
p{
line-height:24px;
margin:0;
}
hr {
 border: 0; height: 1px; background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(66, 66, 66, 0.75), rgba(0, 0, 0, 0));
}
.header{
text-align:center;
background:url(../img/pw_maze_black_2X.png) left top no-repeat;
padding:170px 0 150px 0;
background-size:100%;
}
.logo{
width:130px;
margin:0 auto 35px;
}
.header h1{
font-family: 'Open Sans',sans-serif;
font-size:50px;
font-weight:400;
letter-spacing: -1px;
margin:0 0 22px 0 ;
color:#505050;
}
.we-create{
padding:0;
margin:35px 0 55px;
}
.wp-pic{
margin-bottom:20px;
}
.we-create li{
display:inline-block;
font-family: 'Open Sans',sans-serif;
font-size:14px;
color: #505050;
text-transform: uppercase;
font-weight: 400;
margin:0 5px 0 0;
padding:0 0 0 15px;
}
.we-create li:first-child{
background:none;
}
.start-button {
padding-left: 0px;
}
.start-button li a{
color: #fff;
}
.link, .choise {
padding:15px 35px;
background:#056bd4;
color:#fff !important;
font-size:16px;
font-weight:400;
font-family: 'Open Sans', sans-serif;
display:inline-block;
border-radius:3px;
text-transform:uppercase;
line-height:25px;
margin-bottom:20px;
transition:all 0.3s ease-in-out;
-moz-transition:all 0.3s ease-in-out;
-webkit-transition:all 0.3s ease-in-out;
}
.link:hover {
text-decoration:none;
color:#111 !important;
background:#ddd;
}
.link:active, .link:focus {
background: #4289ad;
text-decoration:none;
color:#fff !important;
}
.choise {
background:#262640;
color:#fff !important;
text-decoration:none;
}
.choise:hover {
color:#fff !important;
background:#515166;
text-decoration:none;
}
.choise:active, .choise:focus {
background: #747485;
color:#fff !important;
text-decoration:none;
}
.main-nav-outer{
padding:0px;
border-bottom:1px solid #63CDFF;
box-shadow:0 4px 5px -3px #688AEA;
position:relative;
background: #111 url("../img/asfalt.png") repeat;
width: 100% !important;
}
.main-nav{
text-align:center;
margin:10px 0 0px;
padding:0;
list-style:none;
}

.main-nav li{
display:inline;
margin:0 1px;
}
.main-nav li a{
display:inline-block;
color:#888;
text-transform:uppercase;
font-family: Open sans, Tahoma, sans-serif;
text-decoration: none;
line-height:20px;
margin:17px 32px;
transition:all 0.3s ease-in-out;
-moz-transition:all 0.3s ease-in-out;
-webkit-transition:all 0.3s ease-in-out;
}
.main-nav li a:hover{
text-decoration:none;
color: #2f95c8;
}
.small-logo{
padding:0 32px;
width: 57px;
height:auto;
}
.header-logo {
width: 57px;
height:auto;
transition:all 0.3s ease-in-out;
-moz-transition:all 0.3s ease-in-out;
-webkit-transition:all 0.3s ease-in-out;
}
.header-logo:hover {
	opacity:0.5;
}
.home-img {
	background:#111;
	background-color: #111;
	background:#111 url("../img/bg.jpg") top center fixed no-repeat;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.shadow {
	text-shadow: 1px 1px 0 #000;
}
.main-navigation-outer{
padding:0px;
border-bottom:1px solid #dddddd;
box-shadow:0 4px 5px -3px #ececec;
position:relative;
background:#111;
}
.main-navigation{
text-align:center;
margin:2px 0 0px;
padding:0;
list-style:none;
}
.main-navigation li{
display:inline;
margin:0 1px;
}
.main-navigation li a{
display:inline-block;
color:#222222;
text-transform:uppercase;
font-family: 'Open Sans', sans-serif;
text-decoration: none;
line-height:20px;
margin:8px 8px;
transition:all 0.3s ease-in-out;
-moz-transition:all 0.3s ease-in-out;
-webkit-transition:all 0.3s ease-in-out;
}
.main-navigation li a:hover{
text-decoration:none;
color: #7cc576;
}
.small-logo-nav{
padding:0 32px;
}
.main-section{
padding:90px 0 110px;

}
.service-list{
padding:0 0 0 0;
font-size:14px;
margin-bottom:40px;
}
.service-list-col1{
float:left;
width:60px;
}
.service-list-col1 i{
font-style:normal;
font-size:38px;
display:block;
color:#222;
font-family: 'FontAwesome';
line-height:38px;
}
.service-list-col2{
overflow:hidden;
}
.main-section.alabaster{
background:#fafafa;
}
.featured-work{
font-size:14px;
}
.featured-work h2{
text-align:left;
}
.featured-box{
padding:0 0 0 0;
margin-bottom:25px;
font-size:14px;
}
.featured-box h3{
margin-bottom:5px;
}
.featured-box p{
line-height:22px;
}
.featured-work p.padding-b{
padding-bottom:35px;
}
.featured-box-col1{
width:60px;
float:left;
}
.featured-box-col1 i{
display:block;
line-height:38px;
font-family: 'FontAwesome';
font-size:38px;
color:#777777;
font-style:normal;
}
.featured-box-col2{ overflow:hidden;}
.featured-box.magic{
background:url(../img/magic.png) left top no-repeat;
}
.featured-box.packaged{
background:url(../img/packaged.png) left top no-repeat;
}
.featured-box.seo{
background:url(../img/seo.png) left top no-repeat;
}
.Learn-More{
display:inline-block;
padding:0 5px 0 0;
color:#7cc576;
font-size:16px;
text-transform:uppercase;
font-family: 'Open Sans', sans-serif;
font-weight:400;
line-height:24px;
transition:all 0.3s ease-in-out;
-moz-transition:all 0.3s ease-in-out;
-webkit-transition:all 0.3s ease-in-out;
display: none;
}
.Learn-More i{
padding-right:15px;
}
.Learn-More:hover, .Learn-More:focus{
text-decoration:none;
color: #111;
}
.portfolioContainer, .last-img {
margin:0 auto;
padding-left:15px;
}
img {
max-width:100%;
}
.isotope .isotope-item {
-webkit-transition-duration: 0.6s;
-moz-transition-duration: 0.6s;
transition-duration: 0.6s;
}
.isotope .isotope-item {
-webkit-transition-property:-webkit-transform, opacity;
-moz-transition-property:-moz-transform, opacity;
transition-property:transform, opacity;
}
.main-section.paddind{
padding-bottom:60px;
}
.client-part{
background:url(../img/section-bg1.jpg) center center no-repeat;
background-size:cover;
padding:55px 0;
text-align:center;
}
.client-part-haead{
color:#fdfdfd;
font-size:28px;
line-height:41px;
margin:30px 0 10px;
font-family: ''Open Sans',sans-serif';
font-style: italic;
}
.client{
padding:0;
margin:20px 0 0;
list-style:none;
text-align:center;
}
.client b{
display:inline;
margin:0 15px;
}
.client b a{
display:inline-block;
}
.client b a img{
margin-bottom:15px;
border-radius:50%;
}
.client b a:hover{
text-decoration:none;
}
.client b a h3{
color:#ffffff;
}
.client b a span{
color:#f1f1f1;
}
.quote-right{
font-style:normal;
width:68px;
height:68px;
margin:0 auto;
border:2px solid #7cc576;
border-radius:50%;
display:block;
line-height:68px;
text-align:center;
font-size:27px;
color:#7cc576;
cursor: pointer;
transition:all 0.3s ease-in-out;
-moz-transition:all 0.3s ease-in-out;
-webkit-transition:all 0.3s ease-in-out;
}
.quote-right:hover{
color: #fff;
border: 2px solid #fff;
}
.c-logo-part{
background:#7cc576;
padding:25px 0;
filter: alpha(opacity=60);
}
.c-logo-part ul{
padding:0;
margin:0;
list-style:none;
text-align:center;
}
.c-logo-part ul li{
display:inline;
margin:0 25px;
}
.c-logo-part ul a{
display:inline-block;
margin: 0 20px;
}
.main-section.team{
padding:85px 0;
}
.main-section.team h6{
margin-bottom:40px;
}
.team-leader-block{
max-width:993px;
margin:0 auto;
}
.team-leader-box{
width:30.66%;
margin-right: 3.82979%;
height: 490px;
overflow: hidden;
text-align: center;
float: left;
}
.team-leader-box span{
margin-bottom:24px;
display:block;
}
.team-leader-box:nth-of-type(3n+0){ margin:0;}
.team-leader{
width:auto;
height:auto;
position:relative;
border-radius:50%;
box-shadow:0px 0px 0px 7px rgba(241,241,241,0.80);
margin:7px 7px 25px 7px;
}
.team-leader-shadow{
transition:all 0.3s ease-in-out;
-moz-transition:all 0.3s ease-in-out;
-webkit-transition:all 0.3s ease-in-out;
border-radius:50%;
position:absolute;
width:100%;
height:100%;
z-index:10;
border-radius:50%;
}
.team-leader-shadow a{
display:block;
width:100%;
height:100%;
}
.team-leader:hover .team-leader-shadow{
box-shadow:inset  0px 0px 0px 148px rgba(17,17,17,0.80);
}
.team-leader:hover ul{ display:block; opacity:1}
.team-leader img{
display:block;
border-radius:50%;
}
.team-leader ul{
display:block;
opacity:0;
padding:0;
margin:0;
list-style:none;
position:absolute;
left:0;
top:50%;
width:100%;
text-align:center;
margin-top:-14px;
z-index:15;
transition:all 0.6s ease-in-out;
-moz-transition:all 0.6s ease-in-out;
-webkit-transition:all 0.6s ease-in-out;
}
.team-leader ul li{
display:inline;
margin:0 11px;
}
.team-leader ul li a{
font-family: 'FontAwesome';
display:inline-block;
font-size:28px;
color:#fff;
transition:all 0.3s ease-in-out;
-moz-transition:all 0.3s ease-in-out;
-webkit-transition:all 0.3s ease-in-out;
}
.team-leader ul li a:hover, .team-leader ul li a:focus{
text-decoration:none;
}
.team-leader ul li a.fa-twitter:hover{
color:#55acee;
}
.team-leader ul li a.fa-facebook:hover{
color:#3b5998;
}
.team-leader ul li a.fa-behance:hover{
color:#56C4E8;
}
.team-leader ul li a.fa-google-plus:hover{
color:#dd4b39;
}
.business-talking{
background:url(../img/section-bg2.jpg) top center no-repeat;
background-size:cover;
padding:60px 0 10px;
text-align:center;
}
.business-talking h2{
font-family: 'Open Sans', sans-serif;
font-weight:700;
padding:0;
margin:20px 0 70px;
text-transform:uppercase;
font-size:42px;
color:#fff;
}
.main-section.contact{
padding:90px 0 100px;
}
.main-section.contact{
background:url(../img/bg-map.png) left 190px no-repeat;
}
.contact-info-box{
font-size:15px;
margin:0 0 14px 68px;
padding-left:0;
}
.contact-info-box h3{
font-size: 15px;
font-weight:400;
float:left;
width:102px;
margin-right:12px;
line-height:28px;
}
.contact-info-box h3 i{
font-style:normal;
font-size:18px;
color:#222222;
font-family: 'FontAwesome';
font-weight:normal;
margin-right:7px;
}
.contact-info-box span{
line-height:28px;
display:block;
overflow:hidden;
}
.social-link{
padding:35px 0;
margin:0 0 0 68px;
display:block;
overflow:hidden;
list-style:none;
}
.social-link li{
float:left;
margin-right:8px;
}
.social-link li a{
display:block;
width:50px;
height:50px;
text-align:center;
line-height:50px;
font-size:25px;
color:#fff;
background:#222222;
border-radius:50%;
transition:all 0.3s ease-in-out;
}
.social-link li a:hover, .social-link li a:focus{
text-decoration:none;
}
.twitter a:hover {
background: #55acee;
}
.facebook a:hover {
background: #3b5998;
}
.behance a:hover {
background: #56C4E8;
}
.gplus a:hover {
background: #dd4b39;
}
.dribbble a:hover {
background: #ea4c89;
}
.form{
margin:0 66px 0 30px;
}
.input-text{
padding:15px 16px;
border:1px solid #ccc;
width:100%;
height:50px;
display:block;
border-radius:4px;
font-size:15px;
color:#aaa;
font-family: 'Open Sans', sans-serif;
margin:0 0 15px 0;
transition:all 0.3s ease-in-out;
-moz-transition:all 0.3s ease-in-out;
-webkit-transition:all 0.3s ease-in-out;
}
.input-text:focus {
border: 1px solid #7cc576;
outline:0;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(124, 197, 118, 0.3);
-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(124, 197, 118, 0.3);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(124, 197, 118, 0.3);
}
.input-text.text-area{
height:165px;
resize:none;
overflow:auto;
}
.input-btn{
width:175px;
height:50px;
background:#7cc576;
border-radius:4px;
color:#ffffff;
font-size:14px;
text-transform:uppercase;
font-family: 'Open Sans', sans-serif;
font-weight:400;
border:0px;
transition:all 0.3s ease-in-out;
-moz-transition:all 0.3s ease-in-out;
-webkit-transition:all 0.3s ease-in-out;
}
.input-btn:hover{
background: #111;
color: #fff;
}
.footer,{
background: #111 url("../img/asfalt.png") repeat;
border-top:1px solid #333;
padding:10px 0 10px;
bottom:0px;
margin:auto, 0px, 0px, auto;
position:absolute;
width:100%;
}
.footer-logo{
margin:15px auto 35px;
width: 76px;
}
.copyright{
color:#cccccc;
font-size:14px;
display:block;
text-align:center;
}
.copyright a{
color:#7cc576;
font-weight:600;
text-decoration: none;
transition:all 0.3s ease-in-out;
-moz-transition:all 0.3s ease-in-out;
-webkit-transition:all 0.3s ease-in-out;
}
.copyright a:hover {
color: #fff;
}
.res-nav_click {
line-height:38px;
font-family: 'FontAwesome';
font-size:38px;
text-decoration: none !important;
color:#777777;
font-style:normal;
display:none;
width:42px;
height:27px;
margin:20px auto;
transition:all 0.3s ease-in-out;
-moz-transition:all 0.3s ease-in-out;
-webkit-transition:all 0.3s ease-in-out;
}
.res-nav_click:hover, .res-nav_click:active, .res-nav_click:focus {
color: #056bf1 !important;
}
.portfolioContainer{
max-width: 1140px;
}
.delay-02s {
animation-delay: 0.2s;
-webkit-animation-delay: 0.2s;
}
.delay-03s {
animation-delay: 0.3s;
-webkit-animation-delay: 0.3s;
}
.delay-04s {
animation-delay: 0.4s;
-webkit-animation-delay: 0.4s;
}
.delay-05s {
animation-delay: 0.5s;
-webkit-animation-delay: 0.5s;
}
.delay-06s {
animation-delay: 0.6s;
-webkit-animation-delay: 0.6s;
}
.delay-07s {
animation-delay: 0.7s;
-webkit-animation-delay: 0.7s;
}
.delay-08s {
animation-delay: 0.8s;
-webkit-animation-delay: 0.8s;
}
.delay-09s {
animation-delay: 0.9s;
-webkit-animation-delay: 0.9s;
}
.delay-1s {
animation-delay: 1s;
-webkit-animation-delay: 1s;
}
.delay-2s {
animation-delay: 2s;
-webkit-animation-delay: 2s;
}
.delay-3s {
animation-delay: 3s;
-webkit-animation-delay: 3s;
}
.delay-4s {
animation-delay: 4s;
-webkit-animation-delay: 4s;
}
.delay-5s {
animation-delay: 5s;
-webkit-animation-delay: 5s;
}
.delay-6s {
animation-delay: 6s;
-webkit-animation-delay: 6s;
}
.delay-7s {
animation-delay: 7s;
-webkit-animation-delay: 7s;
}
.delay-8s {
animation-delay: 8s;
-webkit-animation-delay: 8s;
}
.delay-9s {
animation-delay: 9s;
-webkit-animation-delay: 9s;
}
.delay-10s {
animation-delay: 10s;
-webkit-animation-delay: 10s;
}
.delay-11s {
animation-delay: 11s;
-webkit-animation-delay: 11s;
}
.delay-12s {
animation-delay: 12s;
-webkit-animation-delay: 12s;
}
.delay-13s {
animation-delay: 13s;
-webkit-animation-delay: 13s;
}
.delay-14s {
animation-delay: 14s;
-webkit-animation-delay: 14s;
}
.delay-15s {
animation-delay: 15s;
-webkit-animation-delay: 15s;
}
.delay-16s {
animation-delay: 16s;
-webkit-animation-delay: 16s;
}
.delay-17s {
animation-delay: 17s;
-webkit-animation-delay: 17s;
}
.delay-18s {
animation-delay: 18s;
-webkit-animation-delay: 18s;
}
.delay-19s {
animation-delay: 19s;
-webkit-animation-delay: 19s;
}
.delay-20s {
animation-delay: 20s;
-webkit-animation-delay: 20s;
}
.delay-21s {
animation-delay: 21s;
-webkit-animation-delay: 21s;
}
.delay-22s {
animation-delay: 22s;
-webkit-animation-delay: 22s;
}
.delay-23s {
animation-delay: 23s;
-webkit-animation-delay: 23s;
}
.delay-24s {
animation-delay: 24s;
-webkit-animation-delay: 24s;
}
.delay-25s {
animation-delay: 25s;
-webkit-animation-delay: 25s;
}
.delay-26s {
animation-delay: 26s;
-webkit-animation-delay: 26s;
}
.delay-27s {
animation-delay: 27s;
-webkit-animation-delay: 27s;
}
.delay-28s {
animation-delay: 28s;
-webkit-animation-delay: 28s;
}
.delay-29s {
animation-delay: 29s;
-webkit-animation-delay: 29s;
}
.delay-30s {
animation-delay: 30s;
-webkit-animation-delay: 30s;
}
.skills{
padding:0;
margin:0;
position:relative;
}
.skills li{
padding:10px;
border-bottom:3px solid #E1FFE0;
list-style:none;
font-weight:normal;
color:#575757;
font-size:22px;
text-transform:uppercase;
}
.skills li span{
position:absolute;
right:0;
font-weight:normal;
}
.bar_100, .bar_95, .bar_90, .bar_85, .bar_80, .bar_75, .bar_70, .bar_65, .bar_60, .bar_55, .bar_50, .bar_45, .bar_40, .bar_35, .bar_30, .bar_25, .bar_20, .bar_15, .bar_10{
background:url(../img/bar_graph.gif) repeat-x right .5em;
height:20px;
}
.bar_100{ width:300px; }
.bar_95{ width:285px; }
.bar_90{ width:270px; }
.bar_85{ width:255px; }
.bar_80{ width:240px; }
.bar_75{ width:225px; }
.bar_70{ width:210px; }
.bar_65{ width:195px; }
.bar_60{ width:180px; }
.bar_55{ width:165px; }
.bar_50{ width:150px; }
.bar_45{ width:135px; }
.bar_40{ width:120px; }
.bar_35{ width:105px; }
.bar_30{ width:90px; }
.bar_25{ width:75px; }
.bar_20{ width:60px; }
.bar_15{ width:45px; }
.bar_10{ width:30px; }
.skills li .percent{
position:absolute;
left:-45px;
}
.work-nav #filters {
margin: 0;
padding: 0;
list-style: none;
}
.work-nav #filters li {
margin: 0 10px 30px 0;
padding: 0;
float:left;
}
.work-nav #filters li a {
color: #7F8289;
font-size: 16px;
display: block;
}
.work-nav #filters li a:hover {
}
.work-nav #filters li a.selected {
color: #DE5E60;
}
#thumbs {
margin: 0;
padding: 0;
}
#thumbs li {
list-style-type: none;
}
.item-thumbs {
position: relative;
overflow: hidden;
margin-bottom: 30px;
cursor: pointer;
}
.item-thumbs a + img {
width: 100%;
}
.bg-gradient {
background: -webkit-linear-gradient(top,rgba(99,99,99,0.5),rgba(0,0,0,0.5));
background: -o-linear-gradient(top,rgba(99,99,99,0.5),rgba(0,0,0,0.5));
background: -moz-linear-gradient(top ,rgba(99,99,99,0.5),rgba(0,0,0,0.5));
background: linear-gradient(top, rgba(99,99,99,0.5), rgba(0,0,0,0.5));
}
.item-thumbs .hover-wrap {
position: absolute;
display: block;
width: 100%;
height: 100%;
opacity: 0;
filter: alpha(opacity=0);
-webkit-transition: all 450ms ease-out 0s;
-moz-transition: all 450ms ease-out 0s;
-o-transition: all 450ms ease-out 0s;
transition: all 450ms ease-out 0s;
-webkit-transform: rotateY(180deg) scale(0.5,0.5);
-moz-transform: rotateY(180deg) scale(0.5,0.5);
-ms-transform: rotateY(180deg) scale(0.5,0.5);
-o-transform: rotateY(180deg) scale(0.5,0.5);
transform: rotateY(180deg) scale(0.5,0.5);
}
.item-thumbs:hover .hover-wrap,
.item-thumbs.active .hover-wrap {
opacity: 1;
filter: alpha(opacity=100);
-webkit-transform: rotateY(0deg) scale(1,1);
-moz-transform: rotateY(0deg) scale(1,1);
-ms-transform: rotateY(0deg) scale(1,1);
-o-transform: rotateY(0deg) scale(1,1);
transform: rotateY(0deg) scale(1,1);
}
.item-thumbs .hover-wrap .overlay-img {
position: absolute;
width: 50%;
height: 100%;
opacity: 0.80;
filter: alpha(opacity=80);
background: #000;
}
.item-thumbs .hover-wrap .overlay-img-thumb {
position: absolute;
border-radius: 60px;
top: 50%;
left: 50%;
margin: -16px 0 0 -16px;
color: #fff;
font-size: 32px;
line-height: 1em;
opacity: 1;
filter: alpha(opacity=100);
}
ul.portfolio-categ{
margin:10px 0 30px 0;
padding:0;
float:left;
list-style:none;
}
ul.portfolio-categ li{
margin:0;
padding:0 20px 0 0;
float:left;
list-style:none;
font-size:13px;
font-weight:600;
}
ul.portfolio-categ li a{
display:block;
padding:35x 0 35x 0;
color:#353535;
}
ul.portfolio-categ li.active a:hover, ul.portfolio-categ li a:hover,ul.portfolio-categ li a:focus,ul.portfolio-categ li a:active {
text-decoration:none;
outline:0;
}

.top-wrapper {
margin-bottom:20px;
}
.top20 {
margin-top: 20px;
}
@media only screen and (min-width: 992px) {
.service-list{ margin-bottom:30px;}
.c-logo-part ul li{ margin:0 15px;}
.form{ margin:0 0 0 20px}
.main-nav{ display:block !important; }
}
@media (max-width: 1215px) {
.item-thumbs a + img {
max-width:195px;
}
#thumbs li {
max-width:195px;
display: block;
float: left;
}
.main-nav li a {
margin: 17px 15px;
}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
body{ font-size:2em;}
p{ line-height:20px ;}
.header h1{ font-size:46px;}
.main-nav ul li a{ padding:14px;}
.small-logo{ padding:0 20px;}
h2{ font-size:30px}
h6{ font-size:16px;}
h3{ font-size:15px;}
.service-list{ margin-bottom:20px; font-size:15px;}
.featured-work p.padding-b{ padding-bottom:15px;}
.main-section{ padding:70px 0;}
.c-logo-part ul li{ margin:0 1%; float:left; width:18%;}
.c-logo-part ul li a{ display:block;}
.c-logo-part ul li a img{ display:block;}
.form{ margin:0;}
.contact-info-box{ margin:0 ;}
.social-link{ margin:0;}
.main-nav{ display:block !important; }
.main-nav li a{}
}
@media only screen and (max-width: 767px) {
body{ font-size:1.8em;}
h2{ font-size:26px;}
h3{ font-size:14px;}
h6{ font-size:16px; margin-bottom:40px;}
p{ line-height:18px;}
.service-list{ font-size:12px; margin-bottom:20px;}
.we-create li{ font-size:13px; padding:0 0 0 8px}
.header h1{ font-size:28px;}
.header{ padding:60px 0;}
.main-section{ padding:60px 0 70px;}
.main-nav{ display:none; position:absolute; left:0; width:100%; top:74px; margin:0 auto; float : none; z-index: 2; background:#111;}
.main-nav li{ display:block;}
.main-nav li.small-logo{ display:none;}
.main-nav li a{ display:block; padding:7px 32px; border-bottom:none;}
.main-nav li a:hover{color:#2f95c8}
.main-nav li::before, .main-nav li::after {display:none;}
.team-leader-box{ max-width:307px; width:auto; float:none; margin:0 auto;	}
.team-leader-box:nth-of-type(3n){ margin:0 auto}
.res-nav_click{ display:block;}
.featured-work{ font-size:12px; margin-top:30px;}
.featured-box{ font-size:12px;}
.featured-box p{ line-height:18px; }
.c-logo-part ul a{ margin-bottom:5px;}
.main-section.team{ padding:60px 0 50px;}
.business-talking h2{ font-size:36px;}
.contact-info-box{ margin:0 0 12px 30px; font-size:12px;}
.contact-info-box span{ line-height:18px;}
.social-link{ margin-left:30px;}
.form{ margin:0 30px;}
.copyright{ font-size:12px;}
.business-talking a{ padding:10px 25px; font-size:14px;}
.main-section.contact{ padding:60px 0 70px}
.client-part-haead{ font-size:20px; line-height:30px;}
.link{ font-size:14px; padding:10px 25px;}
.logo{ width:100px;}
.main-section.contact{ background-size:contain;}
.Portfolio-nav li a{ padding:5px 16px;}
.Portfolio-nav li{ display:block;}
.skills li {font-size:13px;}
}
@media only screen and (max-width: 479px) {
.contact-info-box{ margin-left:0px;}
.header{ padding:40px;}
.social-link{ margin-left:0px;}
.form{ margin:0}
.c-logo-part ul li{ display:block;}
.Portfolio-box{  max-width:300px !important; width:96.4% !important; margin:0 !important}
.Portfolio-box img { max-width:100%;}
.portfolioContainer{ width:280px !important; margin:0 auto !important }
}
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}
@font-face {
font-family: 'flexslider-icon';
src:url('../fonts/flexslider-icon.eot');
src:url('../fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'),
url('../fonts/flexslider-icon.woff') format('woff'),
url('../fonts/flexslider-icon.ttf') format('truetype'),
url('../fonts/flexslider-icon.svg#flexslider-icon') format('svg');
font-weight: normal;
font-style: normal;
}
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {}
.flex-pauseplay span {text-transform: capitalize;}
.slides:after {content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}
.no-js .slides > li:first-child {display: block;}
.flexslider { margin: 0 auto 60px; background: transparent; border: none; position: relative; zoom: 1; }
.flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.loading .flex-viewport { max-height: 300px; }
.flexslider .slides { zoom: 1; }
.carousel li { margin-right: 5px; }
.flex-direction-nav {*height: 0;}
.flex-direction-nav a  { text-decoration:none; display: block; width: 40px; height: 40px; margin: -20px 0 0; position: absolute; top: 50%; z-index: 10; overflow: hidden; opacity: 0; cursor: pointer; color: rgba(0,0,0,0.8); text-shadow: 1px 1px 0 rgba(255,255,255,0.3); -webkit-transition: all .3s ease; -moz-transition: all .3s ease; transition: all .3s ease; }
.flex-direction-nav .flex-prev { left: -50px; }
.flex-direction-nav .flex-next { right: -50px; text-align: right; }
.flexslider:hover .flex-prev { opacity: 0.7; left: 10px; }
.flexslider:hover .flex-next { opacity: 0.7; right: 10px; }
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover { opacity: 1; }
.flex-direction-nav .flex-disabled { opacity: 0!important; filter:alpha(opacity=0); cursor: default; }
.flex-direction-nav a:before  { font-family: "flexslider-icon"; font-size: 40px; display: inline-block; content: '\f001'; }
.flex-direction-nav a.flex-next:before  { content: '\f002'; }
.flex-pauseplay a { display: block; width: 20px; height: 20px; position: absolute; bottom: 5px; left: 10px; opacity: 0.8; z-index: 10; overflow: hidden; cursor: pointer; color: #000; }
.flex-pauseplay a:before  { font-family: "flexslider-icon"; font-size: 20px; display: inline-block; content: '\f004'; }
.flex-pauseplay a:hover  { opacity: 1; }
.flex-pauseplay a.flex-play:before { content: '\f003'; }
.flex-control-nav {width: 100%; position: absolute; bottom: -40px; text-align: center;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #E8E8E8; background: rgba(232, 232, 232, 0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -o-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); box-shadow: inset 0 0 3px rgba(0,0,0,0.3); }
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background: #62DB52; background: rgba(45, 194, 51, 0.5); cursor: default; }
.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}
@media screen and (max-width: 860px) {
.flex-direction-nav .flex-prev { opacity: 1; left: 10px;}
.flex-direction-nav .flex-next { opacity: 1; right: 10px;}
}
