.s-1, .s-2, .s-3, .s-4, .s-5, .k{
	background: url(sprites.png) no-repeat;
	float:left;
	display:block;
}

.s-1{
	background-position: 0 0;
	width: 174px;
	height: 95px;
}

.s-2{
	background-position: 0 -94.99999618530273px ;
	width: 174px;
	height: 95px;
}

.s-3{
	background-position: 0 -189.99999618530273px ;
	width: 174px;
	height: 95px;
}

.s-4{
	background-position: 0 -285.00002670288086px ;
	width: 174px;
	height: 95px;
}

.s-5{
	background-position: 0 -379.0000305175781px ;
	width: 174px;
	height: 95px;
}

.k{
	background-position: 0 -474.0000305175781px ;
	width: 174px;
	height: 95px;
}

